---
layout: default
---
<div class="home">

  <header class="home-header">
    <h1 class="home-title">{{ page.title }}</h1>
  </header>

  <div class="post-list">
    {% for post in page.posts %}
      <div id="{{ post.title }}" class="post-cover">
        <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark" title="{{ post.title }}">
          <img src="{{ post.cover | default: site.generic_cover }}" class="" alt="{{ post.cover_alt | default: "" }}">
          <div class="thumbnail-title">
            <h2>{{ post.title }}</h2>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

</div>