<aside>
    <section id="recrutement" class="label-info">
          Nous recherchons des rédacteurs motivés, pour<br>
          des traductions ou des chroniques.<br>
          Présentez-nous votre projet en utilisant
          <a href="https://github.com/Starbound-Fr/Starbound-Fr.github.io/issues">les issues github</a>. et lisez le
          <a href="https://github.com/Starbound-Fr/Starbound-Fr.github.io/wiki">wiki</a> pour savoir comment participer :)
    </section>
    <section id="social">
      {% for social_hash in site.data.socials %}
        {% assign social = social_hash[1] %}
        <a href="{{social.href}}" {% unless social.isIntern %}target="_blank"{% endunless %} rel="publisher">
          <img src="{{site.asset_path.images}}{{social.img}}" title="{{social.title}}" alt="{{social.alt}}">
        </a>
      {% endfor %}
    </section>
    <section id="sondage">
      <h2><i class="material-icons">star</i> Sondage</h2>
      <script type="text/javascript" src="http://www.easypolls.net/ext/scripts/emPoll.js?p=579f9511e4b00deaf4dc0c30"></script><a class="OPP-powered-by" href="http://trailguide.net/html" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">bike trails</div></a>
      <noscript>JavaScript is disabled!</noscript>
    </section>
    <section id="partenaires">
      <h2><i class="material-icons">chat_bubble</i>Partenaires</h2>
      {% for partner_hash in site.data.partners %}
        {% assign partner = partner_hash[1] %}
        <a href="{{partner.href}}" {% unless partner.isIntern %}target="_blank"{% endunless %}>
          <img src="{{site.asset_path.images}}{{partner.img}}" title="{{partner.title}}" alt="{{partner.alt}}">
        </a>
      {% endfor %}
    </section>
    <section id="liens">
      <h2><i class="material-icons">link</i>Parcourir par</h2>
      <ul class="blogroll">
        <li><a href="/authors/">Rédacteur</a></li>
        <li><a href="/contributors/">Correcteur</a></li>
        <li><a href="/categories/">Catégorie</a></li>
        <li><a href="/tags/">Tag</a></li>
      </ul>
        
      <h2><i class="material-icons">link</i>Liens</h2>
      <ul class="blogroll">
        <li><a href="http://playstarbound.com/" target="_blank">Site officiel</a></li>
        <li><a href="https://twitter.com/Starbound_Fr/starbound-devs" target="_blank">Tweets des devs</a></li>
        <li><a href="http://community.playstarbound.com/index.php?pages/charcreator/" target="_blank">Générateur de personnages</a></li>
        <li><a href="/roadmap">Roadmap</a></li>
      </ul>
    </section>
</aside>
