<footer class="site-footer">
  <div class="footer-left">
    <p>
      <a href="/" title="Accueil">Starbound-Fr.net</a>
    - <a href="/archives/">Archives</a>
    - <a href="/contact/">Contact</a>
    - <a href="/about/">À propos & L'équipe (& Analytics)</a>
    </p>
    
    <p>
      Gracieusement hébergé chez les copains de <a href="http://pulseheberg.com/"><strong>PulseHeberg</strong></a> !
    </p>
  </div>
  
  <div class="footer-right">
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/">Creative Commons BY-NC-SA</a>
      - <a href="https://laquadrature.net/fr">π</a>
    </p>
    <p>
      <a href="http://playstarbound.com/"><strong>Starbound</strong></a> est un jeu développé par <a href="http://www.chucklefish.org/"><strong>Chucklefish</strong></a>, tous droits réservés.
    </p>
    <p>Par des fans, pour des fans.</p>
  </div>
</footer>
