<header class="site-header">

  <div class="wrapper">
    <!-- l'image du site -->
    <div id="logo">
      <a href="/" class="logo">
        <h1>Communauté francophone autour de Starbound</h1>
      </a>

      <div>
        <div id="txt-aleatoire"></div>
        <!-- ☻ < I'm a pedosmiley -->
        <a href="http://www.wwwdotcom.com/" rel="nofollow" target="_blank" id="dotcom">¤</a>
      </div>
    </div>

    <div id="menu-haut">
      <ul>
        <li id="menu-info">
          <a href="/informations-generales/">Infos générales</a>
          <ul>
            <li><a href="/faq/">FAQ</a></li>
          </ul>
        </li>
        <li id="menu-media">
          <a href="/medias/">Medias</a>
          <ul>
            <li><a href="/medias/la-generation-du-vendredi/">La génération du vendredi !</a></li>
            <li><a href="/medias/screenshots/">Screenshots</a></li>
            <li><a href="/medias/fonds-decrans/">Fonds d'écrans</a></li>
            <li><a href="/medias/videos/">Vidéos</a></li>
            <li><a href="/medias/images-commentees/">Images commentées</a></li>
          </ul>
        </li>
        <li id="menu-forum">
          <a href="/forum/"><del>Forum</del></a>
        </li>
        <li id="menu-chat">
          <a href="/discord/" alt="Discutez en direct avec les membres ! (HTML5 edition)"><strong>Chat Discord</strong></a>
        </li>
        <li id="menu-github">
          <a href="https://github.com/Starbound-Fr/Starbound-Fr.github.io" alt="Source du blog"><strong>Github</strong></a>
          <ul>
            <li><a href="https://github.com/Starbound-Fr/Starbound-Fr.github.io/wiki">Wiki : Comment nous aider</a></li>
            <li><a href="https://github.com/Starbound-Fr/Starbound-Fr.github.io/issues">Issues : reporter un bug, erreur, etc</a></li>
          </ul>
        </li>
        <li id="menu-acheter">
          <a href="https://www.humblebundle.com/store/p/starbound_storefront"><strong>Acheter</strong></a>
          <ul>
            <li><a href="http://store.steampowered.com/app/211820/">Sur Steam</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

</header>
